@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$color-lightpurple: rgb(189, 187, 211);

.home {
  flex-wrap: nowrap;
}

.subheader {
  color: #331e38;
}

.top-bar {
  flex-wrap: nowrap;
  background-color: #e6e6e6;
  padding: 0 0 0 1em;
}

.top-bar-right {
  background-color: #e6e6e6;
  padding: 1em;
  box-sizing: border-box;
}

@media (max-width: 40em) {
  .top-bar {
    max-width: 70%;
  }
}

.button {
  border-radius: 5px;
}

.home-banner {
  background-color: lighten(#706993, 30%);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
}

.teacher-main {
  display: inline-block;
  justify-content: center;
  margin: 3em;
}

.student-main {
  display: inline-block;
  justify-content: center;
  margin: 3em;
}

.dialog-number-group {
  white-space: nowrap;
}

.dialog-numbers {
  border: solid $color-lightpurple;
  border-radius: 0.5em;
  color: black;
  padding: 1em;
  margin: 0.5em;
  background-color: $color-lightpurple;
}
.dialog-numbers:hover {
  background-color: darken($color-lightpurple, 40%);
  color: white;
}

.dialog-active {
  @extend .dialog-numbers;
  filter: brightness(65%);
}

.message-review-list {
  border-collapse: separate;
  border: solid lightgray;
  border-radius: 10px;
  min-width: 800px;
}

.message-dialog {
  border-collapse: separate;
  border: solid lightgray;
  border-radius: 10px;
  min-width: 800px;
}

.answer {
  white-space: pre-wrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.table-header {
  font-size: 140%;
  background-color: rgb(189, 187, 211);
}

.table-header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.review-button {
  display: inline;
  margin: 5px;
}

.fade-dialog-exit {
  opacity: 1;
}

.fade-dialog-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.student-signup {
  display: block;
  text-align: center;
  margin-top: 5em;
}

.thumbnail {
  max-height: 270px;
}

.teacher-signup {
  display: block;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.delete-button {
  margin: 0;
}

.about {
  margin-top: 5em;
}
.about a {
  color: blue;
}

.navlogo {
  height: 40px;
}